<!DOCTYPE HTML>
	<!--
	A B.A.D customization on basis of:
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
	-->


	<html>

	<head>
		<title>B.A.D - The Blockchain Art Directory</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

	<body class="is-preload">
		<div id="main">
			<!-- Header -->
			<header id="header">

				<!-- Written Logo Nav -->
				<span class="logo">
					<a href="index.html">B.A.D</a>
					<span>The Blockchain Art Directory</span>
				</span>

				<!-- Nav -->
				<nav id="nav">
						<ul>
							<li></li>
							<li><a href="#"><em class="fas fa-hamburger"></em> Navigate</a>
								<ul>
									<li><a href="index.html">home</a></li>
									<li><a href="bad.html">B.A.D</a></li>
									<li><a href="about.html">B.A.D - About</a></li>
									<li><a href="howto.html">B.A.D - What and How</a></li>
									<li><a href="info_Events.html">info - Events</a></li>
								    <li><a href="info_LatestPick.html">info - Latest Pick</a></li>
									<li><a href="info_People.html">info - Portraits</a></li>
									<li><a href="edu_GettingStarted.html">onboarding - Getting Started</a></li>
									<li><a href="edu_Platforms.html">onboarding - Platforms</a></li>
									<li><a href="list_Survey01WhoWhereWhatWhy.html">listed - Survey01 WhoWhereWhatWhy</a></li>
									<li><a href="list_CryptovoxelsGalleries.html">listed - Cryptovoxels Galleries</a></li>
								</ul>
							</li>

						</ul>
					</nav>

			</header>

			<!-- Wrapper -->
	<div class="wrapper">

				<!-- Main -->
	  <section class="main">

					<!-- Logo -->
					<section id="banner">
						<article data-position="bottom right">
							<div class="inner">
								<img src="images/slide01_BAD-logo_MattiaCuttini.jpg" alt="B.A.D Logo Mattia Cuttini">
							</div>
						</article>
						<!-- <article data-position="top right">
									<div class="inner">
										<img src="images/slide02.jpg" alt="">
										<h2>Reading code?</h2>
										<p>Well ...</p>
										<ul class="actions">
											<li><a class="button large" href="#">Empty</a></li>
										</ul>
									</div>
								</article>
								<article data-position="right">
									<div class="inner">
										<img src="images/slide03.jpg" alt="">
										<h2>Reading code?</h2>
										<p>Well ...</p>
										<ul class="actions">
											<li><a class="button large" href="#">Empty</a></li>
										</ul>
									</div>
								</article>
								<article data-position="center">
									<div class="inner">
										<img src="images/slide04.jpg" alt="">
										<h2>Reading code?</h2>
										<p>Well ...</p>
										<ul class="actions">
											<li><a class="button large" href="#">Empty</a></li>
										</ul>
									</div>
								</article> -->
					</section>

					<!-- Section B.A.D Latest Entries Headline -->
					<section>
						<header>
							<h2>STAY UP TO DATE WITH THE LATEST PROJECTS FROM THE ARTY PARTY OF THE BLOCKCHAINZZZ</h2>
							<p>Get a sneak peek of B.A.D's four recent entries right below<br>
						  or explore {{totalNumberOfEntries}} different crypto projects on the B.A.D core page.</p>
							<p><a href="bad.html" class="button primary">ACCESS B.A.D</a></p>
						</header>
					</section>

					<!-- Section B.A.D Latest Entries Entries -->
					<section class="features alt" v-if="cards">
						<article class="icon fa-diamond" v-if="cards">
							<h4>{{cards[cards.length - 1].nameofthesubmitteditem}}</h4>
							<p><span class="badge">{{cards[cards.length - 1].thesubmitteditemis}}</span></p>
							<img v-bind:src="cards[cards.length - 1].urltologophotoimage" style="height: auto; width: 100px;" alt="Most recent B.A.D entries"/>
						</article>
						<article class="icon fa-floppy-o">
							<h4>{{cards[cards.length - 2].nameofthesubmitteditem}}</h4>
							<p><span class="badge">{{cards[cards.length - 2].thesubmitteditemis}}</span></p>
							<img v-bind:src="cards[cards.length - 2].urltologophotoimage" style="height: auto; width: 100px;" alt="Most recent B.A.D entries" />
						</article>
						<article class="icon fa-floppy-o">
							<h4>{{cards[cards.length - 3].nameofthesubmitteditem}}</h4>
							<p><span class="badge">{{cards[cards.length - 3].thesubmitteditemis}}</span></p>
							<img v-bind:src="cards[cards.length - 3].urltologophotoimage" style="height: auto; width: 100px;" alt="Most recent B.A.D entries" />
						</article>
						<article class="icon fa-floppy-o">
							<h4>{{cards[cards.length - 4].nameofthesubmitteditem}}</h4>
							<p><span class="badge">{{cards[cards.length - 4].thesubmitteditemis}}</span></p>
							<img v-bind:src="cards[cards.length - 4].urltologophotoimage" style="height: auto; width: 100px;" alt="Most recent B.A.D entries" />
						</article>
					</section>

		  
		  			<!-- Section cryptovoxels galleries -->
					<section>
						<header>
							<h2>LISTED: BLOCKCHAINART GALLERIES ON CRYPTOVOXELS.COM</h2>
							<p>Have a look at our list of blockchainart galleries!</p>
							<p>The recent raise of galleries on the 3D blockchain platform Cryptovoxels lead us to a quick gathering of links to these unique collections and creative presentations of outstanding digital art. This is the according <a href="https://twitter.com/BchainArtDir/status/1126209997204086789" target="blan">tweet</a> calling for links.<br>If you want to have your gallery listed here simply reply to the tweet pointing to your gallery.</p>
							<p><a href="list_CryptovoxelsGalleries.html" class="button primary">GO</a></p>
						</header>
		  			</section>
		  			
		  			<!-- Section survey WhoWhereWhatWhy -->
					<section>
						<header>
							<h2>LISTED: RESULTS OF B.A.D's RECENT SURVEY</h2>
							<p>First results of the B.A.D survey "Who, where, what and why #blockchainart, #cryptocollectibles and #nft" available now!</p>
							<p></h4>At the beginning of April, we drafted a survey addressing blockchainart and cryptocollectibles artists, collectors, gallery owners and programmers, and asked them: Why are you active in the field? Which platforms do you use? How are you producing your artworks? How much profit do you make? And we wanted to learn about their ideas on NFT, education and value. The answers are available now. Unfiltered, uncommented.</p>
							<p><a href="list_Survey01WhoWhereWhatWhy.html" class="button primary">GO</a></p>
						</header>
		  			</section>
		  
					<!-- Section Events Headline -->
					<section>
						<header>
							<h2>UPCOMING BLOCKCHAINART EVENTS</h2>
							<p>Have a look at some of the upcoming events right below or check the archive for past activities. And always remember: Be rare or be square.</p>
							<p><a href="info_Events.html" class="button primary">EVENTS ARCHIVE</a></p>
						</header>
					</section>

					<!-- Section Events Entries -->
					<section class="spotlights alt">
						<article>
							<span class="date333333">May 18, 2019 . Brooklyn . Bushwick Generator<br />#RAREAF2</span>
							<h3>The Rare Art Festival</h3>
							<a class="image fit"><img src="https://ipfs.infura.io/ipfs/QmXtcypSMxJm6BKyhwNDnTret349gTgDBbTXmrbgYcif5q/rare_af2.jpg" alt="RAREAF2" style="height: 126px; width: auto;"></a>
							<p>The original. One-day conference in Brooklyn about all things rare, nfty, dank and oterhwise unique. Open to artists, programmers, collectors, unicorns, and other rare people.</p>
							<ul class="actions">
								<li><a href="http://rare.af/" class="button">EVENT PAGE</a></li>
								</ul>
						</article>
						<article>
							<span class="date333333">June 26-27, 2019 . Manchester . Federation House<br />#IDAF2019</span>
							<h3>International Digital Art Festival</h3>
							<a class="image fit"><img src="images/events_extern/EVENTS_2019_IDAF.jpg" alt="IDAF2019" style="height: 126px;"></a>
							<p>Two days with talks, discussion pannels, live NFT auction, screenings and more than 100 digital artworks.</p>
							<ul class="actions">
								<li><a href="https://idafestival.com" class="button">EVENT PAGE</a></li>
								</ul>
						</article>
						<!-- <article>
								<p>&nbsp;</p>
						</article> -->
					</section>

					<!-- B.A.D Featuring RAREAF2 -->
					<section>
						<header>
							<h2>B.A.D FEAT. RAREAF2</h2>
							<p>We keep you posted with the latest RareAF2 info and news</p>
							<p><img src="https://ipfs.infura.io/ipfs/QmXtcypSMxJm6BKyhwNDnTret349gTgDBbTXmrbgYcif5q/rare_af2.jpg" style="height: 252px; width: auto;" alt="RareAF2"></p>
							<p>The Rare Art Festival will experience it's second edition on May 18th, 2019. People from all over the world meet for this 1-day-gathering at the Bushwick Generator – 215 Moore Street Brooklyn, NY to exchange about the latest developments in the world of blockchainart and cryptocollectibles. There will be several opportunities for artists, developers, collectors and other rare people to actively participate in RareAF2. The organizers would like to point you to the following websites for further information and occasions to be part of this one-of-a-kind event.<br><br>
							<a href="images/EVENTS_2019_RAREAF2_Schedule.jpg" target="_blank">Check this <i class="fas fa-pepper-hot"></i> line-up</a></p>
						  <br>
							<p><i class="fas fa-ticket-alt"></i><br><b>Tickets</b><br><a href="https://www.eventbrite.com/e/rare-art-festival-tickets-60307156328" target="_blank">RareAF2</a> . <a href="https://www.eventbrite.com/e/nyc-blockchain-week-after-party-tickets-61167579878?aff=ebapi" target="_blank">NYC Blockchain Week After Party</a></p><br>							
							<p><i class="fas fa-bullhorn"></i><br><b>Join the discussion and keep yourself posted with the latest news</b><br><a href="https://rareaf.splashthat.com/" target="_blank">Event website</a> . <a href="https://twitter.com/RareArtFest" target="_blank">Twitter</a> . <a href="https://t.me/joinchat/G2ETSxJ6PPwWmxwYde1gnQ" target="_blank">Telegram</a></p><br>
							<p><em class="fas fa-sad-cry"></em><br><b>Sorry, but it's time to cry - 'cause you missed the</b><br><a href="https://goo.gl/forms/ZoucrKi1OxJ53KRT2" target="_blank">Call for contributions</a> . <a href="https://docs.google.com/document/d/1aPbpF1S8NK6ek_fSjWfp9h3Iw_o7kSLksqw1Zku7SO8" target="_blank">Call for Papers</a> . <a href="https://filmfreeway.com/RareAF2" target="_blank">Call for the Art Show</a><br>aaand the <a href="https://explorer.bounties.network/bounty/2141" target="_blank">call for RareAF Design Contest</a>.<br>Yes, life is hard.</p>
							
						</header>
		  			</section>
		  
		<!-- Section Onboarding Blockchain Basics Teaser -->
					<section>
						<header>
							<h2>ONBOARDING:<br>GETTING STARTED AS BLOCKCHAINART COLLECTOR OR ARTIST</h2>
							<p>Get familiar with essentials for becoming a blockchainart and cryptocollectibles artist or collector</p>
							<p>We compiled a list which contains links to tutorials about how to get started with using the blockchain, dapps
							and other tools and features relevant for producing, collecting and viewing blockchainart and
							cryptocollectibles.</p><br>
							<p><a href="edu_BasicsBlockchain.html" class="button primary">LEARN MORE</a></p>
						</header>
		  			</section>

					<!-- Section Onboarding Market Places Teaser -->
					<section>
						<header>
							<h2>ONBOARDING:<br>BLOCKCHAINART & CRYPTOCOLLECTIBLES PLATFORMS & MARKET PLACES</h2>
							<p>Learn about the places where digital art is tokenized, sold, traded and exhibited - backed by
								blockchain technology</p>
							<p>You intend to sell your artworks on a blockchain backed marketplace, or you want to start a private collection of NFTs - but don't have any idea where to start? We collected some information and are happy to share them with you in order to help getting you aboard the blockchainart space ship.</p><br>
							<p><a href="edu_BasicsPlatforms.html" class="button primary">LEARN MORE</a></p>
						</header>
					</section>

					<!-- Closing Blurb -->
					<section>
					</section>

		</section>

		<!-- Sidebar -->
		<aside class="sidebar">

			<!-- Section Premium Space -->
			<section class="featured-posts">
				<h2>PREMIUM SPACE</h2>
				<article>
					<img src="images/wer_extern/Call_Premium-Space.png" alt="Premium Space">
					<p>+++ Attractive plans which fit your needs +++ Special conditions for artists +++ Promote your mooning <em class="fas fa-rocket"></em> +++ Push your ego +++ Go for an ad at B.A.D +++</p>
			    </article>
		    </section>

			<!-- Section B.A.D's Latest Pick Teaser -->
			<section class="featured-posts">
				<h2>B.A.D's LATEST PICK</h2>
				<article>
					<header>
						<span class="date">2019-05-11</span>
				    </header>
					<a href="https://docs.google.com/forms/d/e/1FAIpQLScJQXEYmJwa5aGqD0IEK8XBI5biBAvHHowVtkhJ5mryl1-2EQ/viewform" target="_blank" class="image fit"><img src="https://www.dronegraffiti.com/wp-content/uploads/2019/01/DGP_glitch_bk_5-e1547507116971.jpg" alt="Drone Graffiti"></a>
					<p>We came across this lovely thing and are happy to share it with you!<br><br>Today: Drone Graffiti. A combination of street art and blockchain - two of our absolute favorite topics. What a blast! People of the Drone Graffiti Project set themselves two goals: One is to fight ephemerality of urban artworks by storing them in a public distributed ledger. Second is to install collaborative artworks by help of drones and backed by blockchain technology on public spaces. Wow! <a href="https://www.dronegraffiti.com/" target="_blank">GO!</a></p>
				</article>
		    </section>

			<!-- Section People Portrait Teaser -->
			<section class="featured-posts">
				<h2>B.A.D's PEOPLE PORTRAIT</h2>
				<article>
					
					<header>
						<span class="date">2019-05-14</span>
				    </header>
					<a href="info_People.html#people003" class="image fit"><img src="images/people_extern/PEOPLE_003-Ilan-Katin.jpg" alt="B.A.D's PEOPLE PORTRAIT"></a>
					<p>ilan katin is the first artist in our series. His non-objective, non-figurative and abstract works are available on some of the best known blockchainart platforms. Learn more about ilan's work.<br>
					<a href="info_People.html#people003" class="image fit">Read the full portrait.</a></p>
					
					<header>
						<span class="date">2019-05-13</span>
					<a href="info_People.html#people002" class="image fit"><img src="images/people_extern/PEOPLE_002-Cynthia-Gayton.jpg" alt="B.A.D's PEOPLE PORTRAIT"></a>
					</header>
					<p>Second in the row: Laywer, artist, podcast host Cynthia Gayton. If you want to discuss blockchain art topics on a high level, discuss with Cynthia!<br>
					<a href="info_People.html#people002" class="image fit">Read the full portrait.</a></p>
					
					<header>	
						<span class="date">2019-05-12</span>
				    </header>
					<a href="info_People.html#people001" class="image fit"><img src="images/people_extern/PEOPLE_001-Judy-Mam.jpg" alt="B.A.D's PEOPLE PORTRAIT"></a>
					<p>We are more than happy to open the B.A.D's People Portraits series with Judy Mam, co-founder of the DADA platform and social network.<br>
					<a href="info_People.html#people001" class="image fit">Read the full portrait.</a></p>
				
				</article>
		    </section>

			<!-- Section B.A.D News -->
			<section>
				<h2>B.A.D NEWS</h2>
				<ul class="posts">
					<li>
						<h4>New look, new contents, new scripts</h4>
					We are proud to present B.A.D in a <span class="tagged">new layout</span>, with <span class="tagged">new contents</span>, and <span class="tagged">new options to interact with the B.A.D
					data base</span>. With this major update, we keep focussing on our original feature, the collection of #blockchainart,
					#cryptocollectibles and #NFT projects, people and works. But we also added an <span class="tagged">Events</span> section, and two <span class="tagged">Onboarding</span> sections, one with
					some blockchain basics for artists and collectors, and one with information about market places where assets
					are offered, sold and traded. Together with some other features like the <span class="tagged">Latest Pick</span> and <span class="tagged">People Portrait</span>, the
					new B.A.D website shall help to gain a quick overview over latest developments in the field. We hope it meets your needs!<br><br>
					&gt;&gt;&gt; Special thanks to hacker <a href="https://github.com/SoIidarity" target="_blank">Christopher Maree</a> for <span class="tagged">coding search and filters</span> on the B.A.D core page! And if you shouldn't have noticed it yet: The <span class="tagged">new B.A.D logo</span> is freshly stamped by one of the most trending blockchain artists in crypto town, great <a href="https://twitter.com/MattiaC" target="_blank">Mattia Cuttini</a>! And tokenized on KnownOrigin.io (<a href="https://etherscan.io/tx/0xe58fee376e70bd062b1bc85c2876d64944fa042d1509dd24d8615a6b941a064e" target="_blank">see txn</a> . <a href="https://dapp.knownorigin.io/edition/58600" target="_blank">see offer</a>). Exciting times! &lt;&lt;&lt; 
					<span class="date">2019-05-12</span>
					</li>
					<li>
						<h4>First results of the B.A.D survey "Who, where, what and why #blockchainart, #cryptocollectibles and #nft"</h4>
					One month ago, we drafted a <span class="tagged">survey</span> addressing blockchainart and cryptocollectibles artists, collectors, gallery owners and programmers, and asked them: Why are you active in the field? Which platforms do you use? How are you producing your artworks? How much profit do you make? And we wanted to learn about their ideas on NFT, education and value. We received 29 answers by May 11th, and are happy to <span class="tagged">present you all answers unfiltered</span> right before #RAREAF2 will happen. We'll need some more time to to write all this up, so more to come. Wanna have a look? <a href="list_Survey01WhoWhereWhatWhy.html" target="_self">GO!</a>
					<span class="date">2019-05-12</span>
					</li>
					<li>
						<h4>B.A.D calls for links: Your galleries on Cryptovoxels</h4>
					The recent raise of galleries on the 3D blockchain platform Cryptovoxels lead us to a quick gathering of links to these unique collections and creative presentations of outstanding digital art. Below is the according tweet calling for links. If you want to have your gallery listed here simply reply to the tweet with pointing to your gallery. <a href="https://twitter.com/BchainArtDir/status/1126209997204086789" target="_blank">GO!</a>
					<span class="date">2019-05-08</span>
					</li>
					<li>
						<h4>B.A.D at #RAREAF2 and #ETHNEWYORK</h4>
					B.A.D will be part of the outstanding Rare Art Festival (2nd edition) and be represented as a Guest Platform at the festival's Art Show. Also, we will take part in the ETH New York Hackathon. If you'd like to meet up, DM us via twitter <a href="https://twitter.com/BchainArtDir" target="_blank">(B.A.D</a> or <a href="https://twitter.com/judithESSS" target="_blank">judithESSS)</a> - happy to talk (and/or hack)!
					<span class="date">2019-05-06</span>
					</li>
					<li>
						<h4>B.A.D survey: Who, where, what and why #blockchainart, #cryptocollectibles and #nft</h4>
					Following up a discussion on the RAREAF2 telegram channels, we initiated a survey addressing blockchainart and cryptocollectibles artists, collectors, gallery owners, programmers, asking them: Why are you active in the field? Which platforms do you use? How are you producing your artworks? How much profit do you make? And some more basics about NFT, education and value. Please fill the form and share the link. <a href="https://docs.google.com/forms/d/e/1FAIpQLScJQXEYmJwa5aGqD0IEK8XBI5biBAvHHowVtkhJ5mryl1-2EQ/viewform" target="_blank">GO!</a>
					<span class="date">2019-04-08</span>
					</li>
					<li>
						<h4>#FillThatForm days end with 58 entries within 16 days</h4>
						We managed to add a bit <span class="tagged">more than 3 items per day</span> to the B.A.D data base since January 16. We learned a lot,
						and
						we decided to keep filling. And as a top-up, we will be back with a re-designed website in late February or
						early March!
						<span class="date">2019-01-31</span>
				    </li>
					<!-- <li>
						<h4>CLOSED: Call for coding related help</h4>
						B.A.D offers a <span class="tagged">timely limited job</span> for a (tbh) few bucks: We are looking for a coder who can optimize
						http://blockchainart.directory 's scripts and add filtering & searching options. Some scripts are already in
								place & do even work, we think ;-) Please contact us via <a href="https://www.twitter.com/BchainArtDir" target="_blank">twitter</a>
						or <a href="mailto:BchainArtDir@protonmail.com">e-mail</a> if you are interested. Thank you.
						<span class="date">2019-01-30</span>
				    </li> -->
					<li>
						<h4>#FillThatForm days at B.A.D</h4>
						One of our resolutions for 2019 is to improve B.A.D a bit. To start with, we <span class="tagged">fill our directory with contents
						over the next days</span> until the end of January. Aim is to add three entries a day. For day one, we achieved this
						goal already. Phew! Further improvements and a version 0.2 follow soon. Stay tuned!
						<span class="date">2019-01-16</span>
				    </li>
					<li>
						<h4>B.A.D at #DevConIV</h4>
					B.A.D will be at this year's Ethereum Developer Conference, taking place from October 30 to November 2, 2018 in Prague. If you'd like to meet up, DM us via twitter <a href="https://twitter.com/BchainArtDir" target="_blank">(B.A.D</a> or <a href="https://twitter.com/judithESSS" target="_blank">judithESSS)</a> - happy to talk!
					<span class="date">2018-10-29</span>
					</li>
					<li>
						<h4>Welcome to B.A.D version 0.1</h4>
						B.A.D is online! <span class="tagged">Yeah!</span> But it is still suffering from a severe lack of content (besides backend, frontend and
						design issues). So if you are an artist, a representative of a blockchain art company / institution / network /
						community / or what ever, organizer of the latest and hottest blockchain art event in town, an AI that draws
						like picasso, or if you'd love to see your podcast, marketplace or protocol listed on B.A.D - don't hestitate
						and drop us a line via twitter or e-mail. <span class="tagged">We'll provide you with a link to our nice submission form and are
						looking forward to add your info to our directory</span>!
						<span class="date">2018-10-29</span>
				    </li>
					<!-- <ul class="actions">
									<li><a href="#" class="button">More Posts</a></li>
								</ul> -->
			    </ul>
		    </section>

			<!-- Section B.A.D Basics -->
			<section>
				<h2>B.A.D WHAT AND HOW</h2>
				<ul class="posts">
					<li>
						<h4>B.A.D - What's that?</h4>
						With B.A.D, we introduce a mainly edited, partly community fed web directory that serves as a service featuring a comprehensive collection of current, future and former projects which are dedicated to blockchain art, crypto collectibles and Non Fungible Tokens. B.A.D covers visual, auditive and multimedia blockchain art and is open to contents from individuals and institutions active in the field. Information about events, art works, technological developments and further information will contribute to an overview on a wide range of activities related to this ever emerging topic. By providing educational resources related to blockchain, dApps and tools, we help to onboard artists and collectors, and hope not only to empower them, but also to contribute to the mass adoption of blockchainart, cryptocollectibles, blockchaintechnology and crypto currencies. <a href="about.html">Read more.</a>
				    </li>
					<li>
						<h4>Big fail, 'cause you are centralized!</h4>
Well, kind of. Sure, B.A.D is compiled from info collected with help of almighty google's data universe. Right. But: B.A.D is as transparent as possible: First, people who submitted contents have access to their data via the url which they received after the form was submitted; if not (which is the case when B.A.D members submit data), we're happy to provide representatives of the submitted item access. Second, we have a sexy public API. So everybody who is interested in the submitted data can access them via <a href="https://blockchainart.directory/api?id=1rtOzAz1hvxZNionO3nZ2XPAGReS441ASJ401hdKMo3M&amp;sheet=1&amp;integers=false&amp;rows=false" target="_blank">this</a> link. Have centralized, but transparent fun everybody.</li>
					<li>
						<h4>How to submit contents?</h4>
You want to see your <em class="fas fa-rocket"></em>'s details listed on this page? Just drop us a line via <a href="https://www.twitter.com/BchainArtDir" target="_blank">twitter</a> or <a href="mailto:BchainArtDir@protonmail.com">e-mail</a> and we'll provide you with the URL to our form. It would be great if you could use an address or account which
								identifies you as representative of the <em class="fas fa-rocket"></em> you intend to submit. If you'd like to
								get
						a preview of what we are going to ask you in the form: Please find a list of items <a href="bad-items.html" target="_blank">here.</a></li>
					<li>
						<h4>How to place ads?</h4>
						If you want us to advertise your blockchain art work, event, dapp or <i class="fas fa-rocket"></i>, please
								contact us via <a href="https://www.twitter.com/BchainArtDir" target="_blank">twitter</a> or <a href="mailto:BchainArtDir@protonmail.com">e-mail</a>.
								We are happy to offer you a daily, weekly or monthly plan that fits your needs.
					</li>
					<li>
						<h4>How to get involved?</h4>
						You like B.A.D, but think it could be even better with your skillful input? Plus you find yourself being a
						programmer, front- or backend developer, webdesigner or any other human being with suchlike useful skills? Then
						feel free to contact us via <a href="https://www.twitter.com/BchainArtDir" target="_blank">twitter</a> or <a
								 href="mailto:BchainArtDir@protonmail.com">e-mail</a>!
					</li>
					<li>
				    </li>
			    </ul>
		    </section>
	    </aside>

	  </div>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section class="info">
						<h3>Wanna support B.A.D?</h3>
						<div class="about">
							<p>This address is made to hold some coins which will help us to maintain and develop B.A.D:</p>
							<ul class="icons"><li><a href="https://etherscan.io/address/0x94c1401B0e351Eeecd82e344bD58fd42Bd68D5C3" target="_blank" class="icon fab fa-ethereum"><span class="label">BchainArtDir.eth</span></a></li><br><br>BchainArtDir.eth<br>0x94c1401B0e351Eeecd82e344bD58fd42Bd68D5C3
							</ul>
						</div>
					</section>
					
					<section class="contact">
						<h3>Happy to get in touch with you via the following channels:</h3>
						<ul class="icons">
									<li><a href="https://www.twitter.com/BchainArtDir" target="_blank" class="icon fab fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://medium.com/@BchainArtDir" target="_blank" class="icon fab fa-medium-m"><span class="label">Medium</span></a></li>
									<li><a href="mailto:BchainArtDir@protonmail.com" class="icon fas fa-envelope"><span class="label">E-Mail</span></a></li>
								</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; 2018-2019 B.A.D - The Blockchain Art Directory. <img src="images/badges_MoonCat_ID 0X00B0C6B648_Cat20.png"
					 alt="MoonCat ID 0X00B0C6B648" title="MoonCat ID 0X00B0C6B648" height="45"><br><br>
					<a href="musthaves_imprint.html" target="_self">imprint</a> . <a href="musthaves_PrivacyPolicy.html" target="_self">privacy policy</a>
				</div>
			</footer>
		</div>
<script src="https://unpkg.com/vue@latest"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	var vue = new Vue({
		el: '#main',
		data() {
			return {
				cards: null,
				totalNumberOfEntries: 0
			}
		},
		mounted() {
			console.log("mounting")
			axios
				.get(
					"https://blockchainart.directory/api?id=1rtOzAz1hvxZNionO3nZ2XPAGReS441ASJ401hdKMo3M&sheet=1&integers=false&columns=false"
				)
				.then(response => {
					this.cards = response.data.rows;
					this.totalNumberOfEntries = response.data.rows.length
				});

		}
	});
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
		</body>
</html>

