<main>
  <!DOCTYPE html>
  <!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
  <html>
    <head>
      <title>The very core of B.A.D - The Blockchain Art Directory</title>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"
      />
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/v4-shims.css"
      />
      <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body class="is-preload">
      <!-- Header -->
      <header id="header">
        <!-- Logo -->
        <span class="logo">
          <a href="index.html">Faction</a>
          <span>By Pixelarity</span>
        </span>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="#" class="fas fa-angle-down"> Dropdown</a>
              <ul>
                <li><a href="#">Option One</a></li>
                <li><a href="#">Option Two</a></li>
                <li><a href="#">Option Three</a></li>
                <li>
                  <a href="#">Submenu</a>
                  <ul>
                    <li><a href="#">Option One</a></li>
                    <li><a href="#">Option Two</a></li>
                    <li><a href="#">Option Three</a></li>
                    <li><a href="#">Option Four</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="#" class="button">Log In</a></li>
          </ul>
        </nav>
      </header>

      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Main -->
        <section class="main" id="main">
          <section>
            <header>
              <h1>This is B.A.D</h1>
            </header>
            <h3>
              You reached the very core of B.A.D - The Blockchain Art Directory
            </h3>

            <p>&nbsp;</p>

            <p>
              Great you are here to have a look at what is going on in the
              #blockchainart and #cryptocollectibles field.
            </p>

            <p>
              On this page, you can see the B.A.D entries. They were made by the
              respective project representatives as well as by B.A.D staff.
              Entries don't follow any specific order, and as for the B.A.D
              staff, all projects related to #blockchainart and
              #cryptocollectibles were chosen randomly.
            </p>

            <p>
              At the moment, you find all entries in form of a simple list,
              which comes from us not being very capable referring to coding.
              However, with the growth of contents, B.A.D will get features to
              sort and display submitted information. This shall help to
              categorize contents and adopt them to individual users' needs.
            </p>

            <p>
              You want to submit something as well? No problem! If you are an
              artist, a representative of a blockchain art company / institution
              / network / community / or what ever, organizer of the latest and
              hottest blockchain art event in town, an AI that draws like
              picasso, or if you'd love to see your podcast, marketplace or
              protocol listed on B.A.D - don't hestitate and drop us a line via
              <a href="https://www.twitter.com/BchainArtDir" target="_blank"
                >twitter</a
              >
              or <a href="mailto:BchainArtDir@protonmail.com">e-mail</a>. We'll
              provide you with a link to our nice submission form! If you'd like
              to get a preview of what we are going to ask you in the form:
              Please find a list of items
              <a href="bad-items.html" target="_blank">here</a>.
            </p>
            <p>&nbsp;</p>
            <hr style="border-style: dotted;" />
            <p>&nbsp;</p>

            <!-- Scripts -->

            Genres:
            <v-select
              v-if="genres"
              multiple
              v-model="selectedGenres"
              :options="genres"
            ></v-select>

            Types:
            <v-select
              v-if="types"
              multiple
              v-model="selectedTypes"
              :options="types"
            ></v-select>

            Blockchain Used:
            <v-select
              v-if="blockchains"
              multiple
              v-model="selectedBlockchains"
              :options="blockchains"
            ></v-select>

            <button @click="applyFilter">Apply</button>

            <div id="el"></div>
            <!-- end wrap -->
          </section>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner"></div>
        <div class="copyright">
          &copy; 2018-2019 B.A.D - the Blockchain Art Directory.
        </div>
      </footer>

      <!-- Scripts <script src="assets/js/jquery.min.js"></script> -->
    </body>
  </html>
</main>
<script src="https://unpkg.com/vue@latest"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>

<script>
  Vue.component("v-select", VueSelect.VueSelect);
  var vue = new Vue({
    el: "#main",
    data() {
      return {
        value: "abcde",
        rowDataAllRecords: null,
        rowDataFilteredRecords: null,
        columnDataAllRecords: null,
        genres: null,
        selectedGenres: null,
        types: null,
        selectedTypes: null,
        blockchains: null,
        selectedBlockchains: null,
        coins: null,
        selectedCoins: null,
        tokens: null,
        selectedTokens: null,
        standards: null,
        selectedStandards: null,
        locations: null,
        selectedLocations: null,
        yearStart: null,
        selectedYearStart: null,
        yearEnd: null,
        selectedYearEnd: null
      };
    },
    mounted() {
      console.log("MOUNT");
      // const axios = require('axios');
      this.test();

      axios
        .get(
          "https://blockchainart.directory/api?id=1rtOzAz1hvxZNionO3nZ2XPAGReS441ASJ401hdKMo3M&sheet=1&integers=false&columns=false"
        )
        .then(response => {
          this.rowDataAllRecords = response.data.rows;
          this.rowDataFilteredRecords = this.rowDataAllRecords;
          this.assignCards();
        });

      axios
        .get(
          "https://blockchainart.directory/api?id=1rtOzAz1hvxZNionO3nZ2XPAGReS441ASJ401hdKMo3M&sheet=1&integers=false&rows=false"
        )
        .then(response => {
          console.log(response.data);
          this.columnDataAllRecords = response.data.columns;
          this.assignColumns();
        });
    },
    methods: {
      applyFilter() {
        function withinArray(array, value) {
          let found = false;
          array.forEach(function(item) {
            if (value.includes(item)) {
              found = true;
            }
          });
          return found;
        }

        console.log("filtering");
        console.log(this.selectedGenres);
        this.rowDataFilteredRecords = [];
        if (this.selectedGenres) {
          let filteredList = this.rowDataAllRecords.filter(project =>
            withinArray(this.selectedGenres, project.genreofthesubmitteditem)
          );
          console.log(filteredList);
          this.rowDataFilteredRecords = this.rowDataFilteredRecords.concat(
            filteredList
          );
        }

        if (this.selectedTypes) {
          let filteredList = this.rowDataAllRecords.filter(project =>
            withinArray(this.selectedTypes, project.typeofthesubmitteditem)
          );
          this.rowDataFilteredRecords = this.rowDataFilteredRecords.concat(
            filteredList
          );
        }

        if (this.selectedBlockchains) {
          let filteredList = this.rowDataAllRecords.filter(project =>
            withinArray(this.selectedBlockchains, project.blockchainused)
          );
          this.rowDataFilteredRecords = this.rowDataFilteredRecords.concat(
            filteredList
          );
        }
        console.log(this.rowDataFilteredRecords);
        this.assignCards();
      },

      test() {
        console.log("BUTT");
        console.log(this);
      },
      assignColumns() {
        let data = this.columnDataAllRecords;

        // genres
        let concatenatedGenreList = data["genreofthesubmitteditem"].join(",");
        concatenatedGenreList = concatenatedGenreList.replace(/; /g, ",");
        concatenatedGenreList = concatenatedGenreList.replace(/, /g, ",");
        var splitGenreArray = concatenatedGenreList.split(",");
        var uniqueGenres = Array.from(new Set(splitGenreArray));
        this.genres = uniqueGenres.sort().filter(Boolean);

        // types
        let concatenatedTypeList = data["typeofthesubmitteditem"].join(",");
        concatenatedTypeList = concatenatedTypeList.replace(/; /g, ",");
        concatenatedTypeList = concatenatedTypeList.replace(/, /g, ",");
        var splitTypeArray = concatenatedTypeList.split(",");
        var uniqueTypes = Array.from(new Set(splitTypeArray));
        this.types = uniqueTypes.sort().filter(Boolean);

        // blockchains
        let spannedBlockchainList = data["blockchainused"].concat(
          data["blockchainusedfurther"]
        );
        let concatenatedBlockchainList = spannedBlockchainList.join(",");
        console.log("input");
        console.log(concatenatedBlockchainList);
        concatenatedBlockchainList = concatenatedBlockchainList.replace(
          /; /g,
          ","
        );
        concatenatedBlockchainList = concatenatedBlockchainList.replace(
          /, /g,
          ","
        );
        var splitBlockchainArray = concatenatedBlockchainList.split(",");
        var uniqueBlockchains = Array.from(new Set(splitBlockchainArray));
        this.blockchains = uniqueBlockchains.sort().filter(Boolean);

        // coins
        let spannedCoinList = data["coinused"].concat(data["coinusedfurther"]);
        let concatenatedCoinList = spannedCoinList.join(",");
        concatenatedCoinList = concatenatedCoinList.replace(/; /g, ",");
        concatenatedCoinList = concatenatedCoinList.replace(/, /g, ",");
        var splitCoinArray = concatenatedCoinList.split(",");
        var uniqueCoins = Array.from(new Set(splitCoinArray));
        this.coins = uniqueCoins.sort().filter(Boolean);

        // tokens
        let spannedTokensList = data["tokenused"].concat(data["tokenusedfurther"]);
        let concatenatedTokensList = spannedTokensList.join(",");
        concatenatedTokensList = concatenatedTokensList.replace(/; /g, ",");
        concatenatedTokensList = concatenatedTokensList.replace(/, /g, ",");
        var splitTokensArray = concatenatedTokensList.split(",");
        var uniqueTokens = Array.from(new Set(splitTokensArray));
        this.tokens = uniqueTokens.sort().filter(Boolean);

        // standards
        let spannedStandardsList = data["standardused"].concat(data["standardusedfurther"]);
        let concatenatedStandardsList = spannedStandardsList.join(",");
        concatenatedStandardsList = concatenatedStandardsList.replace(/; /g, ",");
        concatenatedStandardsList = concatenatedStandardsList.replace(/, /g, ",");
        var splitStandardsArray = concatenatedStandardsList.split(",");
        var uniqueStandards = Array.from(new Set(splitStandardsArray));
        this.standards = uniqueStandards.sort().filter(Boolean);

        // locations
        let concatenatedLocationsList = data["locationcountry"]
        // concatenatedLocationsList = concatenatedLocationsList.replace(/; /g, ",");
        // concatenatedLocationsList = concatenatedLocationsList.replace(/, /g, ",");
        // var splitLocationsArray = concatenatedLocationsList.split(",");
        var uniqueLocations = Array.from(new Set(concatenatedLocationsList));
        this.locations = uniqueLocations.sort().filter(Boolean);

        // start year
        let concatenatedYearStartList = data["yearstart"].join(",");
        concatenatedYearStartList = concatenatedYearStartList.replace(/; /g, ",");
        concatenatedYearStartList = concatenatedYearStartList.replace(/, /g, ",");
        var splitYearStartArray = concatenatedYearStartList.split(",");
        var uniqueYearStart = Array.from(new Set(splitYearStartArray));
        this.yearStart = uniqueYearStart.sort().filter(Boolean);

        // end year
        let concatenatedYearEndList = data["yearend"].join(",");
        concatenatedYearEndList = concatenatedYearEndList.replace(/; /g, ",");
        concatenatedYearEndList = concatenatedYearEndList.replace(/, /g, ",");
        var splitYearEndArray = concatenatedYearEndList.split(",");
        var uniqueYearEnd = Array.from(new Set(splitYearEndArray));
        this.yearEnd = uniqueYearEnd.sort().filter(Boolean);
        
        console.log("filtered");
        console.log(uniqueTypes);
      },

      assignCards() {
        $("#el").empty();
        console.log("ASSIGNING");
        let data = this.rowDataFilteredRecords;
        console.log(data);
        var i = data.length;
        while (i--) {
          if (data[i].nameofthesubmitteditem !== "") {
            var nameofthesubmitteditem =
              '<div class="box"><h2 class="nameofthesubmitteditem">' +
              data[i].nameofthesubmitteditem +
              "</h2>";
          }
          if (data[i].urltologophotoimage !== "") {
            var urltologophotoimage =
              '<img src="' +
              data[i].urltologophotoimage +
              '" alt="' +
              data[i].nameofthesubmitteditem +
              '" style="height: 100px; with: auto;" />';
          } else {
            var urltologophotoimage = "";
          }
          if (data[i].shortdescriptionofthesubmitteditem !== "") {
            var shortdescriptionofthesubmitteditem =
              "<p>" + data[i].shortdescriptionofthesubmitteditem + "</p>";
          } else {
            var shortdescriptionofthesubmitteditem = "";
          }
          if (data[i].typeofthesubmitteditem !== "") {
            var typeandgenre =
              "<p>" +
              data[i].nameofthesubmitteditem +
              " is a <strong>" +
              data[i].typeofthesubmitteditem +
              "</strong> and belongs to the genre of <strong>" +
              data[i].genreofthesubmitteditem +
              "</strong>.</p>";
          } else {
            var typeandgenre = "";
          }
          if (data[i].websiteofthesubmitteditem !== "") {
            var websiteofthesubmitteditem =
              "<p>" +
              data[i].nameofthesubmitteditem +
              ' can be accessed via <strong><a href="' +
              data[i].websiteofthesubmitteditem +
              '" target="_blank">' +
              data[i].websiteofthesubmitteditem +
              "</a></strong></p>";
          } else {
            var websiteofthesubmitteditem = "";
          }
          if (data[i].further !== "") {
            var further = "<p>Additional info: " + data[i].further + "</p>";
          } else {
            var further = "";
          }

          if (
            data[i].blockchainused !== "" ||
            data[i].blockchainusedfurther !== "" ||
            data[i].coinused !== "" ||
            data[i].coinusedfurther !== "" ||
            data[i].tokenused !== "" ||
            data[i].tokenusedfurther !== "" ||
            data[i].standardused !== "" ||
            data[i].standardusedfurther !== "" ||
            data[i].further_2 !== ""
          ) {
            var header_techinfo = "<h3>Tech info</h3><ul>";
          } else {
            var header_techinfo = "";
          }
          if (
            data[i].blockchainused !== "" ||
            data[i].blockchainusedfurther !== ""
          ) {
            var blockchaincombined =
              "<li>Blockchain used: " +
              data[i].blockchainused +
              "; " +
              data[i].blockchainusedfurther +
              "</li>";
          } else {
            var blockchaincombined = "";
          }
          if (data[i].coinused !== "" || data[i].coinusedfurther !== "") {
            var coincombined =
              "<li>Coin used: " +
              data[i].coinused +
              "; " +
              data[i].coinusedfurther +
              "</li>";
          } else {
            var coincombined = "";
          }
          if (data[i].tokenused !== "" || data[i].tokenusedfurther !== "") {
            var tokencombined =
              "<li>Token used: " +
              data[i].tokenused +
              "; " +
              data[i].tokenusedfurther +
              "</li>";
          } else {
            var tokencombined = "";
          }
          if (
            data[i].standardused !== "" ||
            data[i].standardusedfurther !== ""
          ) {
            var standardcombined =
              "<li>Standard used: " +
              data[i].standardused +
              "; " +
              data[i].standardusedfurther +
              "</li>";
          } else {
            var standardcombined = "";
          }
          if (data[i].further_2 !== "") {
            var further_2 = "<li>Further: " + data[i].further_2 + "</li>";
          } else {
            var further_2 = "";
          }
          if (
            data[i].blockchainused !== "" ||
            data[i].blockchainusedfurther !== "" ||
            data[i].coinused !== "" ||
            data[i].coinusedfurther !== "" ||
            data[i].tokenused !== "" ||
            data[i].tokenusedfurther !== "" ||
            data[i].standardused !== "" ||
            data[i].standardusedfurther !== "" ||
            data[i].further_2 !== ""
          ) {
            var header_techinfo_close = "</ul>";
          } else {
            var header_techinfo_close = "";
          }

          if (
            data[i].yearstart !== "" ||
            data[i].yearend !== "" ||
            data[i].locationcountry !== "" ||
            data[i].companyinstitutionorganizationcommunitybehind !== ""
          ) {
            var header_organization = "<h3>Organization</h3><ul>";
          } else {
            var header_organization = "";
          }
          if (data[i].yearstart !== "" || data[i].yearend !== "") {
            var runtime =
              "<li>Runtime: " +
              data[i].yearstart +
              " to " +
              data[i].yearend +
              "</li>";
          } else {
            var runtime = "";
          }
          if (data[i].locationcountry !== "") {
            var locationcountry =
              "<li>Location: " + data[i].locationcountry + "</li>";
          } else {
            var locationcountry = "";
          }
          if (data[i].companyinstitutionorganizationcommunitybehind !== "") {
            var companyinstitutionorganizationcommunitybehind =
              "<li>Entity behind: " +
              data[i].companyinstitutionorganizationcommunitybehind +
              "</li>";
          } else {
            var companyinstitutionorganizationcommunitybehind = "";
          }
          if (
            data[i].yearstart !== "" ||
            data[i].yearend !== "" ||
            data[i].locationcountry !== "" ||
            data[i].companyinstitutionorganizationcommunitybehind !== ""
          ) {
            var header_organization_close = "</ul>";
          } else {
            var header_organization_close = "";
          }

          if (
            data[i].peoplebehind1 !== "" ||
            data[i].peoplebehind2 !== "" ||
            data[i].peoplebehind3 !== "" ||
            data[i].peoplebehindfurther !== ""
          ) {
            var header_peoplebehind = "<h3>People behind</h3><ul>";
          } else {
            var header_peoplebehind = "";
          }
          if (data[i].peoplebehind1 !== "") {
            var peoplebehind1 = "<li>" + data[i].peoplebehind1 + "</li>";
          } else {
            var peoplebehind1 = "";
          }
          if (data[i].peoplebehind2 !== "") {
            var peoplebehind2 = "<li>" + data[i].peoplebehind2 + "</li>";
          } else {
            var peoplebehind2 = "";
          }
          if (data[i].peoplebehind3 !== "") {
            var peoplebehind3 = "<li>" + data[i].peoplebehind3 + "</li>";
          } else {
            var peoplebehind3 = "";
          }
          if (data[i].peoplebehindfurther !== "") {
            var peoplebehindfurther =
              "<li>" + data[i].peoplebehindfurther + "</li>";
          } else {
            var peoplebehindfurther = "";
          }
          if (
            data[i].peoplebehind1 !== "" ||
            data[i].peoplebehind2 !== "" ||
            data[i].peoplebehind3 !== "" ||
            data[i].peoplebehindfurther !== ""
          ) {
            var header_peoplebehind_close = "</ul>";
          } else {
            var header_peoplebehind_close = "";
          }

          if (
            data[i].email !== "" ||
            data[i].linkedin !== "" ||
            data[i].twitter !== "" ||
            data[i].discord !== "" ||
            data[i].telegram !== "" ||
            data[i].slack !== "" ||
            data[i].medium !== "" ||
            data[i].steemit !== "" ||
            data[i].reddit !== "" ||
            data[i].bitcointalk !== "" ||
            data[i].github !== "" ||
            data[i].facebook !== "" ||
            data[i].youtube !== "" ||
            data[i].instagram !== "" ||
            data[i].meetup !== ""
          ) {
            var header_contact = "<h3>Contact</h3><p>";
          } else {
            var header_contact = "";
          }
          if (data[i].email !== "") {
            var email =
              '<a href="mailto:' +
              data[i].email +
              '" target="_blank" title="' +
              data[i].email +
              ' on email"><i class="fas fa-mail-bulk"></i></a> &nbsp; ';
          } else {
            var email = "";
          }
          if (data[i].linkedin !== "") {
            var linkedin =
              '<a href="' +
              data[i].linkedin +
              '" target="_blank" title="' +
              data[i].linkedin +
              ' on linkedin"><i class="fab fa-linkedin"></i></a> &nbsp; ';
          } else {
            var linkedin = "";
          }
          if (data[i].twitter !== "") {
            var twitter =
              '<a href="' +
              data[i].twitter +
              '" target="_blank" title="' +
              data[i].twitter +
              ' on twitter"><i class="fab fa-twitter"></i></a> &nbsp; ';
          } else {
            var twitter = "";
          }
          if (data[i].discord !== "") {
            var discord =
              '<a href="' +
              data[i].discord +
              '" target="_blank" title="' +
              data[i].discord +
              ' on discord"><i class="fab fa-discord"></i></a> &nbsp; ';
          } else {
            var discord = "";
          }
          if (data[i].telegram !== "") {
            var telegram =
              '<a href="' +
              data[i].telegram +
              '" target="_blank" title="' +
              data[i].telegram +
              ' on telegram"><i class="fab fa-telegram"></i></a> &nbsp; ';
          } else {
            var telegram = "";
          }
          if (data[i].slack !== "") {
            var slack =
              '<a href="' +
              data[i].slack +
              '" target="_blank" title="' +
              data[i].slack +
              ' on slack"><i class="fab fa-slack"></i></a> &nbsp; ';
          } else {
            var slack = "";
          }
          if (data[i].medium !== "") {
            var medium =
              '<a href="' +
              data[i].medium +
              '" target="_blank" title="' +
              data[i].medium +
              ' on medium"><i class="fab fa-medium"></i></a> &nbsp; ';
          } else {
            var medium = "";
          }
          if (data[i].steemit !== "") {
            var steemit =
              '<a href="' +
              data[i].steemit +
              '" target="_blank" title="' +
              data[i].steemit +
              ' on steemit">[steemit]</a> &nbsp; ';
          } else {
            var steemit = "";
          }
          if (data[i].reddit !== "") {
            var reddit =
              '<a href="' +
              data[i].reddit +
              '" target="_blank" title="' +
              data[i].reddit +
              ' on reddit"><i class="fab fa-reddit"></i></a> &nbsp; ';
          } else {
            var reddit = "";
          }
          if (data[i].bitcointalk !== "") {
            var bitcointalk =
              '<a href="' +
              data[i].bitcointalk +
              '" target="_blank" title="' +
              data[i].bitcointalk +
              ' on bitcointalk">[bitcointalk]</a> &nbsp; ';
          } else {
            var bitcointalk = "";
          }
          if (data[i].github !== "") {
            var github =
              '<a href="' +
              data[i].github +
              '" target="_blank" title="' +
              data[i].github +
              ' on github"><i class="fab fa-github"></i></a> &nbsp; ';
          } else {
            var github = "";
          }
          if (data[i].facebook !== "") {
            var facebook =
              '<a href="' +
              data[i].facebook +
              '" target="_blank" title="' +
              data[i].facebook +
              ' on facebook"><i class="fab fa-facebook"></i></a> &nbsp; ';
          } else {
            var facebook = "";
          }
          if (data[i].youtube !== "") {
            var youtube =
              '<a href="' +
              data[i].youtube +
              '" target="_blank" title="' +
              data[i].youtube +
              ' on youtube"><i class="fab fa-youtube"></i></a> &nbsp; ';
          } else {
            var youtube = "";
          }
          if (data[i].instagram !== "") {
            var instagram =
              '<a href="' +
              data[i].instagram +
              '" target="_blank" title="' +
              data[i].instagram +
              ' on instagram"><i class="fab fa-instagram"></i></a> &nbsp; ';
          } else {
            var instagram = "";
          }
          if (data[i].meetup !== "") {
            var meetup =
              '<a href="' +
              data[i].meetup +
              '" target="_blank" title="' +
              data[i].meetup +
              ' on meetup"><i class="fab fa-meetup"></i></a> &nbsp; ';
          } else {
            var meetup = "";
          }
          if (
            data[i].email !== "" ||
            data[i].linkedin !== "" ||
            data[i].twitter !== "" ||
            data[i].discord !== "" ||
            data[i].telegram !== "" ||
            data[i].slack !== "" ||
            data[i].medium !== "" ||
            data[i].steemit !== "" ||
            data[i].reddit !== "" ||
            data[i].bitcointalk !== "" ||
            data[i].github !== "" ||
            data[i].facebook !== "" ||
            data[i].youtube !== "" ||
            data[i].instagram !== "" ||
            data[i].meetup !== ""
          ) {
            var header_contact_close = "</p>";
          } else {
            var header_contact_close = "";
          }

          if (
            data[i].itemsubmitteddate !== "" ||
            data[i].itemsubmittedby !== "" ||
            data[i].itemupdateddate !== "" ||
            data[i].itemupdatedby !== ""
          ) {
            var header_editorial = "<p>&nbsp;</p><p>Editorial:<br />";
          } else {
            var header_editorial = "";
          }
          if (
            data[i].itemsubmitteddate !== "" ||
            data[i].itemsubmittedby !== ""
          ) {
            var itemsubmittedcombined =
              "Item submitted at " +
              data[i].itemsubmitteddate +
              " by " +
              data[i].itemsubmittedby;
          } else {
            var itemsubmittedcombined = "";
          }
          if (data[i].itemupdateddate !== "" || data[i].itemupdatedby !== "") {
            var itemupdatedcombined =
              "<br />Item updated at " +
              data[i].itemupdateddate +
              " by " +
              data[i].itemupdatedby;
          } else {
            var itemupdatedcombined = "";
          }
          if (
            data[i].itemsubmitteddate !== "" ||
            data[i].itemsubmittedby !== "" ||
            data[i].itemupdateddate !== "" ||
            data[i].itemupdatedby !== ""
          ) {
            var header_editorial_close = "</p>";
          } else {
            var header_editorial_close = "";
          }

          $("#el").append(
            nameofthesubmitteditem +
              urltologophotoimage +
              shortdescriptionofthesubmitteditem +
              typeandgenre +
              websiteofthesubmitteditem +
              further +
              header_techinfo +
              blockchaincombined +
              coincombined +
              tokencombined +
              standardcombined +
              further_2 +
              header_techinfo_close +
              header_organization +
              runtime +
              locationcountry +
              companyinstitutionorganizationcommunitybehind +
              header_organization_close +
              header_peoplebehind +
              peoplebehind1 +
              peoplebehind2 +
              peoplebehind3 +
              peoplebehindfurther +
              header_peoplebehind_close +
              header_contact +
              email +
              linkedin +
              twitter +
              discord +
              telegram +
              slack +
              medium +
              steemit +
              reddit +
              bitcointalk +
              github +
              facebook +
              youtube +
              instagram +
              meetup +
              header_contact_close +
              header_editorial +
              itemsubmittedcombined +
              itemupdatedcombined +
              header_editorial_close +
              "</> </div>"
          );
        }
      }
    }
  });

  console.log("value ");
  console.log(vue);
</script>
<style>
  .container {
    display: flex;
  }

  .fixed {
    width: 200px;
  }

  .flex-item {
    flex-grow: 1;
  }
</style>
